<h3 class="green">Please use this form to edit the owner that you have selected.</h3>

<form action="/owners/<%= @owner.id %>" method="post">
  <label for="owner-field">Owner Name:</label>
  <input
  type="text"
  name="name"
  id="owner-field"
  value="<%= @owner.name %>"
  required>
  <input class="green" type="submit" value="Edit Owner">
</form>
