<h3>Here you can complete all owner related administation tasks.</h3>
<div class="left">
  <a class="links" href="/owners/new">Create Owner</a>
</div>

<% @owners.each do |owner| %>
<hr/>
   <p>Owner: <%= owner.name %></p>
   <% unless owner.name == 'Cat Shelter' %>
   <p><a class="links" href="/owners/<%= owner.id %>">Show Owner</a></p>
   <% end %>
   <ul>
     <% for cat in owner.cats %>
     <li><%= cat.name %></li>
     <% end %>
   </ul>

<% end %>
