<h2>Here is the list of owners and their adopted cats</h2>
<a href="/owners/new">Create New Owner</a>
<% @owners.each do |owner| %>
<hr/>
   <p>Owner: <%= owner.name %></p>
   <ul>
     <% for cat in owner.cats %>
     <li><%= cat.name %></li>
     <% end %>
   </ul>
<p><a href="/owners/<%= owner.id %>">Show more options for this owner</a></p>
<% end %>
