<h2>Here is the list of owners and their adopted cats</h2>
<% @owners.each do |owner| %>
<hr/>
   <p>Owner: <%= owner.name %></p>
   <ul>
     <% for cat in owner.cats %>
     <li><%= cat.name %></li>
     <% end %>
   </ul>
<% end %>
