<h3 class="green">Fill Out Details Of New Owner Entry</h3>

<form action="/owners" method="post">
  <label for="owner-field">Owner Name:</label>
  <input type="text" name="name" id="owner-field" required>

  <input class="green" type="submit" value="Create New Owner">
</form>
