<h3>This page is for creating a new owner</h3>

<form action="/owners" method="post">
  <label for="owner-field">Owner Name:</label>
  <input type="text" name="name" id="owner-field">

  <input class="green" type="submit" value="Create New Owner">
</form>
