<p>The owner you have selected is <%= @owner.name %></p>
<p>What would you like to do?</p>

  <p><a class="links" href="/owners/<%= @owner.id %>/edit">Edit Owner</a></p>
  <% if @owner.cats.count == 0 %>
  <form method="post" action="/owners/<%= @owner.id %>/delete">
    <input class="red" type="submit" value="Delete Owner">
  </form>
   <% else %>
   <p class="red">Please note: the current owner is shown in the system as having adopted cats, it is forbidden to delete an owner that currently has any cats saved to them in the system.</p>
  <% end %>
