<p>Special thanks for photography: Pelisek (Little Den) the <a href="https://www.facebook.com/kocicipelisek/">Cat Cafe</a> in Brno.</p>
<p>This website was made by the gentleman below. It is his sincere wish that this cat shelter website will help find many cats new homes.</p>
<div class="left">
<img src="/images/homepage.jpg" alt="picture of Charlie">
</div>
