<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shelter management</title>
    <link rel="icon" href="/images/cat.png" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <ul class="topnav">
      <li class="topnav"><a href="/">Home</a></li>
      <li class="topnav"><a href="/cats">Cat List</a></li>
      <li class="topnav"><a href="/owners">Owner List</a></li>
    </ul>
  </div>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
