body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 20em;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}

.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.left {
  display: flex;
  align-items: left;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1.5em;
}

li.topnav {
    float: left;
}

li.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Change the link color to #111 (black) on hover */
li.topnav a:hover {
    background-color: #111;
}


.red {
  color: red;
}

.green {
  color: green;
}

.rye_font {
  font-family: 'Rye', cursive;
}

.baskerville_font {
  font-family: 'Libre Baskerville', serif;
}

a.links:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.links:hover, a:active {
    background-color: green;
    color: white;
}

header {
  position: relative;
}

.bg-img {
  width: 100%;
}

input.green[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
}

input.red[type=submit] {
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
}

hr {
  margin-left: 0;
  margin-right: 0;
}
