body {
  font-family: 'Ubuntu', sans-serif;
}

.red {
  color: red;
}

.green {
  color: green;
}

.rye_font {
  font-family: 'Rye', cursive;
}

.baskerville_font {
  font-family: 'Libre Baskerville', serif;
}
