body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

body {
    padding-top: 1em;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 20em;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1.5em;
}

li.topnav {
    float: left;
}

li.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.topnav a:hover {
    background-color: #111;
}

.red {
  color: red;
}

.green {
  color: green;
}

.rye_font {
  font-family: 'Rye', cursive;
}

.baskerville_font {
  font-family: 'Libre Baskerville', serif;
}
