
<h3 class "firab">This is the page that controls information related to the cat shelter. </h3>
<a class="links" href="/cats/new">Create Cat</a>
<% @cats.each do |cat|  %>
<hr/>
<p>Name: <%= cat.name %></p>
<p>Arrival date: <%= cat.arrival_date %></p>
<img class="imageblock" src="<%= cat.picture %>" alt="picture of cats" height="200px" width="200px">
  <% if cat.adopted == 'adopted' %>
    <p class="red rye_font">Status: Adopted</p>
  <% elsif cat.adopted == 'for adoption' %>
    <p class="green baskerville_font">Status: For adoption</p>
  <% end %>
<p><a class="links" href="/cats/<%= cat.id %>">Show more details</a></p>
<% end %>
