<div class="container">


<form method="post" action="/cats" >
  <label for="arrival-date-field">Arrival Date:</label>
  <input type="date" name="arrival_date" id="arrival-date-field">
  <br>
  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field">
  <br>
  <label for="type-field">Type:</label>
  <input type="text" name="type" id="type-field">
  <br>
  <label for="adopted-selection">Adopted:</label>
    <select name="adopted" id="adopted-selection">
      <option value="Adopted">Adopted</option>
      <option value="For adoption">For Adoption</option>
    </select>
  <br>
  <label for="picture-selection">Picture Selection:</label>
  <select name="picture" id="picture-selection">
    <option value="/images/generic_cat.jpg">Generic Picture</option>
  </select>
  <br>
  <label for="owner-selection">Owner Selection:</label>
  <select name="owner" id ="owner-selection" required>
    <% @owners.each do |owner| %>
    <option value="<%= owner.id %>"
      selected="For Adoption"><%= owner.name %></option>
    <% end %>
  </select>
  <br>
  </div>
  <div class="left">
      <input class="green" type="submit" value="Create New Cat">
  </div>
</form>
