<h3>Form for changing owner</h3>
<form action="/owners" method="post">
<label for="name-field">Name:</label>
<input type="text" name="name" id="name-field">
<label for="cat-select">Cat name:</label>
<select id="cat-select" name="cat" required>
  <% @cats.each do |cat| %>
  <option value="<% cat.id %>"><%= cat.name %></option>
<% end %>
</select>
<input type="submit" value="Change owner">
</form>
